<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="person" class="com.fockers.springtest.Person"
		scope="singleton" init-method="initMethod"
		destroy-method="onDestroyed" factory-method="getInstance">
		<constructor-arg value="111" index="0" name="id"></constructor-arg>
		<constructor-arg value="mike" index="1" name="name"></constructor-arg>
		<property name="gamerId" value="123"></property> 
		<property name="address" ref="address"></property>
	</bean>

	<bean id="person2" class="com.fockers.springtest.Person"
		scope="singleton" init-method="initMethod"
		destroy-method="onDestroyed" factory-method="createPerson"
		factory-bean="personFactory">
		<constructor-arg value="1234" index="0" name="id"></constructor-arg>
		<constructor-arg value="Charles" index="1" name="name"></constructor-arg>
		<property name="gamerId" value="999"></property> 
		<property name="address" ref="address"></property>
	</bean>


	<bean id="address" class="com.fockers.springtest.Address"	
	scope="singleton">	
	<constructor-arg name="street" value="26 hillmead"></constructor-arg>
	<constructor-arg name="postcode" value="RH118RR"></constructor-arg>
	</bean>


	<bean id="personFactory"
		class="com.fockers.springtest.PersonFactory">
	</bean>
</beans>
